* {
    box-sizing: border-box;
}

body {
    margin: 0 2em 0 2em;
    background-color: #EEEEEE;
}

header {
    background-color: #586f6b;
}

#main-heading {
    text-align: center;
    color: #EEEEEE;
    font-size: 4em;
    margin: .3em 0 .3em 0;
}

h2 {
    color: #586f6b;
}

nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /*border-top: 1px solid lightgrey;*/
    /*border-bottom: 1px solid lightgrey;*/
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#search-bar {
    background-color: #EEEEEE;
    width: 400px;
    border: none;
}

i {
    margin: 0 .5em 0 1em;
    opacity: .5;
}

/* ======= NavBar links ======= */
li {
    list-style: none;
    display: inline-block;
}

a {
    padding: 1.2em;
}

/* main links */
#main-links {
    padding-left: .5em;
}

#main-links li {
    margin: 1em 0 0 0;
}

#twitter-link {
    border-right: 1px solid black;
}

#twitter-a {
    margin-right: 1.5em;
}

#posts {
    background-color: #FFFFFF;
    width: 950px;
    height: 75vh;
    overflow: auto;
    margin-top: .3em;
    margin-left: auto;
    margin-right: auto;
    padding: 0 2em 0 2em;
}

/* ID's within the HTML tags being appended with JavaScript */
#title {
    margin-top: 3em;
}

#genre {
    font-weight: bold;
}

#date {
    margin-bottom: 2em;
    padding-bottom: 1em;
    border-bottom: 2px solid black;
}

#memo {
    font-size: 2em;
    color: #586f6b;
}

/* pseudo classes for nav links */
a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    text-decoration: none;
    color: #3B94D9;
}