* {
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

/* ======= NavBar links ======= */
li {
    list-style: none;
    display: inline-block;
}
/* main links */
#main-links {
    padding-left: .5em;
}

#main-links li {
    margin: 1em 1em 1em 0;
}
/* social media links */
#social-links {
    padding-right: .5em;
}

#social-links li {
    margin: 1em 0 1em 1em;
}
/* title page */
#main-heading {
    margin: 1em;
}

/* The div that holds the main ajax data */
#posts {
    width: 950px;
    margin: auto;
    padding: 0 2em 0 2em;
    border-right: 1px solid black;
    border-left: 1px solid black;
}