footer {
    width: calc(100% - 23em);
    font-family: 'Baloo Paaji 2', cursive;
}

i {
    padding-right: .7em;
    margin-bottom: .7em;
}

input[type=text] {
    border-radius: 20px;
    border: 1px solid whitesmoke;
    background-color: black;
    height: 1em;
    width: 17em;
    padding: 1em;
}

ul {
    list-style-type: none;
    margin-left: 1.8em;
}

li {
    display: inline-block;

}

a {
    padding: 1em;
}

.transparent, li, .copyright {
    opacity: .6;
}

.top-section {
    border: 1px solid #000;
    background-color: #000;
    padding: 2em 0;
    color: white;
    display: flex;
    justify-content: space-evenly;
}

.bottom-section {
    border: 1px solid #000;
    background-color: #333333;
    padding: .5em 0;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright {
    margin-right: 3em;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    background-color: lightskyblue;
}