* {
    box-sizing: border-box;
}

body {
    background-color: #9A9A9A;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Abel', sans-serif;
}

#container {
    display: inline-grid;
    width: 400px;
    height: 312px;
    grid-template-columns: 100px 100px 25% 25%;
    grid-template-rows: 60px 50px 50px 50px 50px 50px;
    grid-template-areas:
            'firstNum  firstNum op     secondNum'
            'plus      minus    times  division'
            'seven     eight    nine   equals'
            'four      five     six    equals'
            'one       two      three  equals'
            'zero      dots     cleared equals'
}

#first-num, #operator, #second-num {
    font-size: 1.5em;
    color: white;
    background-color: black;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

#plus, #minus, #multiply, #division {
    background-color: darkorange;
}

#dot {
    grid-area: dots;
}

#clear {
    grid-area: cleared;
}

#plus {
    grid-area: plus;
}

#minus {
    grid-area: minus;
}

#multiply {
    grid-area: times;
}

#division {
    grid-area: division;
}

#equals {
    grid-area: equals;
}

#first-num {
    grid-area: firstNum;
}

#operator {
    grid-area: op;
}

#second-num {
    grid-area: secondNum;
}

#one {
    grid-area: one;
}

#two {
    grid-area: two;
}

#three {
    grid-area: three;
}

#four {
    grid-area: four;
}

#five {
    grid-area: five;
}

#six {
    grid-area: six;
}

#seven {
    grid-area: seven;
}

#eight {
    grid-area: eight;
}

#nine {
    grid-area: nine;
}

#zero {
    grid-area: zero;
}

