* {
    box-sizing: border-box;
}

body {
    background-color: #F0F0F0;
}

h1 {
    font-family: 'Anton', sans-serif;
    font-size: 64px;
}

h2 {
    font-family: 'Anton', sans-serif;
    font-size: 48px;
}

.park-city {
    margin: 3em 0;
}

.circle {
    width: 175px;
    height: 175px;
    color: white;
    font-size: 28px;
    font-family: 'Anton', sans-serif;
    background-color: lightgrey;
    border: 11px solid white;
    border-radius: 250px;
    margin: .1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.red {
    background-color: #D86244;
}

.orange {
    background-color: #DEA03C;
}

.green {
    background-color: #8BB079;
}

.blue {
    background-color: #49A7A9;
}

.abel-font-40 {
    font-family: 'Abel', sans-serif;
    font-size: 36px;
    margin-top: 5em;
    margin-bottom: 2em;
}

.abel-font {
    font-family: 'Abel', sans-serif;
    font-size: 20px;

}

img {
    border: 14px solid lightgrey;
}

.featured-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    margin: .3em;
}

@media screen and (min-width: 576px) {
    .abel-font {
        font-size: 18px;
    }

    .circle {
        width: 140px;
        height: 140px;
        border-radius: 150px;
    }

    .icon {
        width: 25px;
        height: 25px;
        margin: .1em;
        font-size: 18px;
    }

    .underline-circle {
        border-bottom: 1px solid gray;
        padding-bottom: 2em;
    }
}

@media screen and (min-width: 768px) {
    .abel-font {
        font-size: 24px;
    }

    .circle {
        margin-left: 2em;
    }

    .icon {
        width: 30px;
        height: 30px;
        border-radius: 50px;
        margin: .2em;
        font-size: 20px;
    }

    .underline-circle {
        border-bottom: 1px solid gray;
        padding-bottom: 2em;
    }
}

