* {
    box-sizing: border-box;
}

body {
    background-color: #F0F0F0;
}

h1 {
    font-family: 'Anton', sans-serif;
    font-size: 64px;
}

h2 {
    font-family: 'Anton', sans-serif;
    font-size: 48px;
}

.park-city {
    margin: 3em 0;
}

.circle {
    width: 5em;
    height: 5em;
    color: white;
    font-size: 48px;
    font-family: 'Anton', sans-serif;
    background-color: lightgrey;
    border: 11px solid white;
    border-radius: 250px;
    margin: .2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.red {
    background-color: #D86244;
}

.orange {
    background-color: #DEA03C;
}

.green {
    background-color: #8BB079;
}

.blue {
    background-color: #49A7A9;
}

.abel-font-40 {
    font-family: 'Abel', sans-serif;
    font-size: 40px;
    margin-top: 5em;
    margin-bottom: 2em;
}

.abel-font {
    font-family: 'Abel', sans-serif;
    font-size: 30px;

}

img {
    border: 14px solid lightgrey;
}

.featured-icons {
    display: flex;
    align-items: center;
}

.icon {
    width: 70px;
    height: 70px;
    border-radius: 100px;
    font-family: 'Anton', sans-serif;
    font-size: 30px;
    margin: .3em;

}

