* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

:root {
    --bgr-color: #9acd32;
}

.wrapper div {
    margin: .4em;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-gap: .3em;
    grid-template-columns: 20% 80%;
    grid-template-rows: 10% 70% 10% 10%;
    grid-template-areas:
                "head head"
                "nav  art"
                "nav  ads"
                "foot foot";
}

header {
    grid-area: head;
    background-color: var(--bgr-color);
}

nav {
    grid-area: nav;
    background-color: var(--bgr-color);
}

article {
    grid-area: art;
    background-color: var(--bgr-color);
}

section {
    grid-area: ads;
    background-color: var(--bgr-color);
}

footer {
    grid-area: foot;
    background-color: var(--bgr-color);
}