* {
    box-sizing: border-box;
}

nav {
    background-color: #C1C1C1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style: none;
    font-family: 'Work Sans', sans-serif;
    font-size: .7em;
    padding: 0;
}

li {
    display: inline-block;
    margin: 0;
}

a {
    padding: 1.3em;
}

.info-bar {

}

.logo {
    font-family: 'Krona One', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    padding: .2em 0;
    /*margin-right: calc(50% - 13em);*/
    position: relative;
    right: .7em;
}


a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    background-color: #3B94D9;
}

