html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

ul {
    list-style-type: none;
}

footer {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

h2 {
    font-family: 'Work Sans', sans-serif;
}

input[type=text] {
    margin: .3em .3em .3em 0;
    opacity: .6;
}

textarea, button {
    opacity: .6;
}


.big-container {
    background-color: #F86A0D;
    border: 1px solid black;

    color: whitesmoke;
    width: 55vw;
    height: 45vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.contact {

}

.lorem, .default-font {
    font-family: 'Noto Sans', sans-serif;
    font-size: .7em;
    opacity: .6;
}

/*.default-font {*/
/*    font-family: 'Noto Sans', sans-serif;*/
/*    font-size: .7em;*/
/*}*/

.medium-container {
    margin-top: 1.5em;
    width: calc(100% - 10em);
    display: flex;
    justify-content: space-between;
}

.bottom-line {
    border-bottom: 1px solid black;
    font-family: 'Noto Sans', sans-serif;
    font-size: .8em;
    font-weight: bolder;
}

.talk-with-us, .say-hello, .social-media {
}



.container {
    /*display: flex;*/
    /*justify-content: space-around;*/
    /*border: 1px solid black;*/
    /*width: calc(100% - 35em);*/
}

