html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

ul {
    list-style-type: none;
}

footer {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

h2 {
    font-family: 'Work Sans', sans-serif;
}

input[type=text] {
    margin: .3em .3em .3em 0;
    width: 17em;
    height: 2em;
    opacity: .6;
}

textarea, button {
    margin: .3em .3em .3em 0;
    width: 17em;
    opacity: .6;
}


.big-container {
    background-color: #F86A0D;
    color: whitesmoke;
    width: 55vw;
    height: 33vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.contact {
    opacity: .8;
}

.lorem, .default-font {
    font-family: 'Noto Sans', sans-serif;
    font-size: .7em;
    opacity: .5;
}

/*.default-font {*/
/*    font-family: 'Noto Sans', sans-serif;*/
/*    font-size: .7em;*/
/*}*/

.medium-container {
    margin-top: 1.5em;
    width: calc(100% - 11em);
    display: flex;
    justify-content: space-between;
}

.bottom-line {
    border-bottom: 1px solid #FEC5A8;
    height: 2em;
    margin-bottom: 1em;
    font-family: 'Noto Sans', sans-serif;
    font-size: .8em;
    font-weight: bolder;
    opacity: .8;
}

.talk-with-us, .say-hello, .social-media {
}



.container {
    /*display: flex;*/
    /*justify-content: space-around;*/
    /*border: 1px solid black;*/
    /*width: calc(100% - 35em);*/
}

