* {
    box-sizing: border-box;
}

main {
    width: 500px;
    height: 500px;
    border: 3px solid black;
    display: inline-grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(8, 1fr);
}