* {
    box-sizing: border-box;
}

#cards {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2em;
    margin-bottom: 2em;
}

.heading {
    text-align: center;
}

.temp {
    font-weight: bold;
    text-align: center;
}

.bold {
    font-weight: bold;
}